/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit 100%; 
	font-family: "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

/* layout */

body {
    background-attachment: fixed;
    background-image: url("/images/bikes.jpg");
    background-size: cover;
    /*font-family: 'Cantarell';*/
    margin: 10px;
}

/* basics */


h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #011117;
}

a {
	padding: 2px 1px 2px 1px;
	color:#f9d11b;
	text-decoration: none;
	/* border-bottom: 1px dashed #f9d11b; */
}

a:hover {
	color: #fff;
	background: #f9d11b;
}

a:hover img { 
	color: #fff;
	background: #fff;
	text-decoration: none;
}

#img a{
	border-bottom:  none;
}

#img a:hover{
	background: none;
	}
	
#img p{
min-width: 790px;
padding: 0;
margin: 0;
}
	
hr {
background-color: #27608d;
border: 0;
height: 1px;
margin-bottom: 18px;
clear: both;
}

p {
	margin-bottom: 18px;
	font-size: 14px;
}

li {
	height: auto;
	list-style-position: inside;
}

/* nav */

nav {
background: #transparent;
margin: 0 auto;
width: 1000px;
display: block;
float: left;
position: static
}

nav .menu {
letter-spacing: 1px;
margin-left: 0px;
font-weight: bold;
}

nav .menu ul {
list-style: none;
margin: 0;
}

nav .menu li {
float: left;
position: relative;
}

nav .menu a {
display: block;
text-decoration: none;
color: #008fcb;
padding: 0 14px;
line-height: 34px;
}

nav .menu a:hover {
color: #008fcb;
}

/* nav 1-level dropdowns */
nav .menu li ul { 
display: none; 
}

nav .menu ul li a {
display: block;
text-decoration: none;
color: #dedfe4;
background: #f9d11b;
margin-left: 1px;
white-space: nowrap;
}

nav .menu ul li a:hover { 
background: #0068b5;
color: white; 
}

/* main content */

#main {
overflow: hidden;
padding: 10px 0 0 0;
float: left
}

#content {
display: block;
background-color: rgba(243, 249, 224, 0.2);
width: 866px;
/*margin-bottom: 0px;*/
color: #F3EFE0;
font-size: 14px;
line-height: 24px;
padding-left: 5px;
text-align: justify;
}

article {
padding: 20px;
/*margin-right: 20px;*/
position: static;
}

article img {
	border: none;
	-webkit-box-shadow: 2px 2px 3px #777;
	-moz-box-shadow: 2px 2px 3px #777;
	text-align: justify;
}

ul.nobullet {
	list-style-type: none;
}

dl {
padding-left:5px
}

dt{
	font-weight: bold;
	margin-top: 20px;
}

#content p,
#content ul,
#content ol,
#content hr {
margin-bottom: 10px;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
margin-bottom: 0;
}

#content h2 {
	font-size: 28px;
	color: #F3EFE0;
	margin: 0 0 10px 0;
	line-height: 1.5em;
	/*text-shadow: 0px 2px 3px #fff;*/
}

h5{
	font-size: 21px;
	color: #F3EFE0;
	margin: 10px 0 10px 0;
	line-height: 1.5em;
	text-shadow: 0px 2px 2px #fff;
}

.alignleft,
img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

.alignright,
img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter,
img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.border {
    background-color: #EFEFEF;
    border: 1px solid #EEEEEE;
    padding: 5px;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* sidebar and footer widget blocks */

footer {
display: block;
background-color: rgba(243, 249, 224, 0.2);
width: 866px;
position: absolute;
bottom: 0;
margin-bottom: 10px; 
color: #F3EFE0;
font-size: 14px;
line-height: 24px;
padding-left: 5px;
text-align: justify;
}

#footer-area {
padding: 20px 20px;
overflow: hidden;
text-align: justify;
}

#footer-area p{
	font-size: 12px;
	padding: 0;
	margin: 0 0 0px;
	line-height: 20px;
	text-align: justify;
}

#wrapper #main #container #content article p strong em {
	font-style: italic;
}
